{% extends 'main.html' %} {% block content %}
<div class="room-container">
  <style>
    .room-container {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
  </style>
  <div>
    <h2 class="my-2">{{room.name}}</h2>
    <p>{{room.disciption}}</p>
    <div class="comment-wrapper container">
      <h3>Conversation</h3>
      <hr />
      {% for message in messages %}
      <div class="mx-5">
        {% if request.user == message.user %}
        <a href={% url 'deletemessage' message.id %}>Delete</a>
        {% endif %}
        <small>@{{message.user}} {{message.created | timesince}}</small>
        <p>{{message.body}}</p>
        <hr />
      </div>
      {% endfor %} {% if request.user.is_authenticated %}
      <div class="comment-form">
        <form action="" method="POST">
          {% csrf_token %}
          <input
            type="text"
            name="body"
            placeholder="Write your message here..."
          />
        </form>
      </div>
      {% endif %}
    </div>
  </div>
  <div>
    <h3>Participants</h3>
    {% for user in participants %}
    <h6>@{{user}}</h6>
    {% endfor %}
  </div>
</div>
{% endblock content %}
